
body {
background-color: rgb(247, 247, 225);
}
* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

/* Nav bar*/
li{
  list-style: none;
}

a{
  text-decoration: none;
}
header {
  border-bottom: 2px solid #aeb2b9;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger{
  display: none;
}
.bar{
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

  ul > li {
margin-left: 5rem;
font-size: 1.6rem;
font-weight: 400;
color: #475569;
}

.nav-menu {display: flex;
justify-content: space-between;
align-items: center;

}


.nav-link:hover{
  color: #482ff7;
}

.nav-logo{
  font-size: 2.1rem;
  font-weight: 500;
  color: black;
}

@media only screen and (max-width: 768px){
  .nav-menu{
    position:fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active{
    left: 0;
  }
  .nav-item{
    margin: 2.5rem 0;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg)
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* footer */
footer{
  margin-top: 4rem;
}
.About {
  border-bottom: 2px solid #aeb2b9;
}
.bottomPage {
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}

/* item card */
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25em;

}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.collection {


}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* On hover, add a black background color with a little bit see-through */

/* HOME */

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000em;
  margin: auto;

}

.addImg > img  {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }

  /* Add a hover effect (blue shadow) */
  .addImg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
text-align: center;
}

/* image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.AboutText {
  margin-block-start: 1.5rem;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}




